.App {
  text-align: center;
}

.main__container{
  display: flex;
  flex-direction: column;
  background-color: rgb(241, 247, 253);
  border-radius: 5px;
  padding: 10px;
  padding-left: 4vw;
  margin: 1vw 4vw 4vw 4vw ;
  min-height: 50vh;
}
.main__containerTitle{
  /* margin-left: 2%; */

}

.input__div{
  display: flex;
}

.input__form{
  display: flex;
  flex-direction: column;
}